/*
 * Font sizes
 */
@huge-numbers: 24px;
@small-text: 12px;

/*
 * Colors
 */
@headline-color: #281a45;
@light-color: #a9bace;
@header-background-base-color: #E3E1E6;
@left-column-background-color: #EEF5F9;

@day-color: #eef5f9;
@future-day-color: lighten(#eef5f9, 3%);

@infusion-day-color: #fcd144;
@infusion-line-color: lighten(@text, 10%);

@light-gray-color: #bcbec0;
@white-color: #ffffff;

/*
 * Day sizing variables
 */
@day-height: 66px + @small-pad;
@label-height: 20px;
@dow-label-height: 12px;
@day-between: 8px;

@small-pad: 6px;

/*
 * Infusion sizing variables
 */
@infusion-site-gap: 45px;
@infusion-line-mark-size: 11px;
@infusion-line-stop-size: 26px;
@infusion-line-height: 2px;
